<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Title</title>  
    {% load static %}  
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>  
<body>  
    {% block top_nav %}
    {% include 'top_nav.html' %}
    {% endblock %}

    {% block content %}

    {% endblock content %}

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
</body>  
</html>  